{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
  <div class="col-md-4 col-sm-offset-4 text-center">
  <h1><a href="{% url 'home' %}">Pirates of Rai</a></h1>
  <h3>Captain's Page</h3>
  <hr>
  <a href="/boss"><button class="btn btn-default">God Mode</button></a>
  <hr>
 
  <table class="table table-striped" style="table-layout: fixed;">
        <thead id="table_head">
          <tr>
            <th>Stats</th>
            <th>Loot</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody id="table_body">
          <tr>
            <td>Total Users</td>
            <td>{{ kids }}</td>
          </tr>
          <tr>
            <td>Total Communities</td>
            <td>{{ comm }}</td>
          </tr>
          <tr>
            <td>Total Hits</td>
            <td>{{ total_view }}</td>

          </tr>
          <tr>
            <td>Total Files</td>
            <td>{{ files }}</td>

          </tr>
          <tr>
            <td>Total Searches</td>
            <td>{{ total_search }}</td>

          </tr>
          <tr>
            <td>Total Listed</td>
            <td>{{ listed }}</td>
            
          </tr>
          <tr>
            <td>Total Not Listed</td>
            <td>{{ not_listed }}</td>
           </tr>
        </tbody>
      </table>
    <hr>
  </div>
  <div class="col-md-4 col-sm-offset-1 text-center">
    <h4>Search queries</h4>
    <div style="overflow-y:scroll; max-height:300px;">
      <table class="table table-striped" style="table-layout: fixed;">
        <thead id="table_head">
          <tr>
            <th>Date</th>
            <th>Query</th>
            <th>Listed</th>
          </tr>
        </thead>
        <tbody id="table_body">
        {% for i in queries %}
        {% if i.listed == False %}
          <tr class="text-danger">
          {% else %}
          <tr>
           {% endif %}
            <td>{{i.date}}</td>
            <td>{{i.query}}</td>
            <td>{{ i.listed }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr>
    <h4>Daily Hits</h4>
    <div style="overflow-y:scroll; max-height:300px;">
      <table class="table table-striped" style="table-layout: fixed;">
        <thead id="table_head">
          <tr>
            <th>Date</th>
            <th>Hits</th>
          </tr>
        </thead>
        <tbody id="table_body">
        {% for i in hits %} 
          <tr>
            <td>{{i.date}}</td>
            <td>{{i.hits}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr>
  </div>
  <div class="col-md-6 text-center" style=
  "border-left:solid 1px;border-color:#c0c0c0;margin-left:2em;padding-left:3em;">
  <h4>User List</h4>
    <div style="overflow-y:scroll; max-height:300px;">
      <table class="table table-striped" style="table-layout: fixed;">
        <thead id="table_head">
          <tr>
            <th>Date Joined</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody id="table_body">
          {% for i in users %}
          <tr>
            <td>{{ i.date_joined }}</td>
            <td><a href="{% url 'user' i.username %}" class="modal_link">{{ i.username }}</a></td>
            <td>{{ i.first_name }}&nbsp;{{ i.last_name }}</td>
            <td>{{ i.email }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr>
    <h4>Feedback</h4>
    <div style="overflow-y:scroll; max-height:400px;">
           <table class="table table-striped" style="table-layout: fixed;">
        <thead id="table_head">
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Msg</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody id="table_body">
         {% for i in feedback %} 
          <tr>
            <td>{{i.date}}</td>
            <td>{{i.name}}</td>
            <td>{{i.msg}}</td>
            <td>{{ i.user__user__first_name }} &nbsp; {{ i.user__user__last_name}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}