{% extends "base.html" %}
{% block style %}
#dropzone
{
  height:10em;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #222;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: default;
}

#dropzone:hover
{
  background-color:#efefef;
  border-color: #008cba;

}
{% endblock %}
{% block content %}
</div>
<div class="col-sm-6 col-sm-offset-3 text-center">


<div id="dropzone"><h2 style="margin-top:1em;">Drop 'em here</h2></div>


</div>

{% endblock %}
{% block script %}
<script>
window.addEventListener("dragover",function(e){
  e = e || event;
  e.preventDefault();
},false);
window.addEventListener("drop",function(e){
  e = e || event;
  e.preventDefault();
},false);
var dropzone = document.getElementById('dropzone');
dropzone.ondrop = function(e) {
  e.preventDefault();
  e.stopPropagation();
  var length = e.dataTransfer.items.length;
  for (var i = 0; i < length; i++) {
    var entry = e.dataTransfer.items[i].webkitGetAsEntry();
    if (entry.isFile) {
      console.log(entry.name);
    } else if (entry.isDirectory) {
         traverseDirectoryTree(entry);

    
    }
  }
};
</script>
{% endblock %}