{% extends "base.html" %}
{% load static %}

{% block style %}
 h4{margin-top: 30px;}
    h3{margin-top: 50px;}
#files_table{display:none;}
#comments{display:none;}
#upload{border-radius: 10px;}
td{word-wrap: break-word;}
th{text-align:center;border-top: 2px solid #dddddd;}
/* http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ */
    .btn-file {
    position: relative;
    overflow: hidden;
     border-radius: 10px;
    }
    .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    border-radius: 10px;
    }
 table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {content: " \25B4\25BE"}
{% endblock %}

{% block head %}
<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
{% endblock%}
{% block content %}
     <div class="col-sm-6 col-sm-offset-3 text-center"style="margin-top:-2em;">
      {{ msg | safe }}
      
     <div class="toBeHidden">
      {{ msg|safe }}
      <h3>List your media files for your friends</h3>
      <form action="{% url 'upload' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <h4>Step 1</h4><span class="btn btn-lg btn-default btn-file">Choose
        folder or files<input formenctype="multipart/form-data" id="dir_input"
        multiple name="dir" type="file" webkitdirectory="" required></span>
      </form>

    </div>
    <div id="message"></div><br>
    <!-- Empty table for showing listed files. -->
    <div class="toBeHidden" id="files_table" style=
    "overflow-y:scroll; max-height:400px;margin-top:-1em;margin-bottom:-2em;">
      <small><em id="caution"></em></small>
      <table class="sortable table table-striped" id="list_files">
        <thead id="table_head"></thead>
        <tbody id="table_body">
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="toBeHidden">
      <h4 style="margin-top:1em;" id="step2">Step 2</h4><button class=
      "btn btn-lg btn-default toBeHidden" id="upload">Share</button>
    </div>
    <div class="form-group" id="comments">
      <form action="{% url 'review' %}" method="post">
        {% csrf_token %}
        <h4>Feedback</h4><input class="form-control" id="review_name" name=
        "name" placeholder="Name" required="" type="text"><br>
        <textarea class="form-control" name="msg" placeholder=
        "We'd love your feedback. Join us in making POR better." rows="3">
</textarea><br>
        <button class="btn btn-lg btn-default" type="submit">Submit
        Feedback</button>
      </form>
      </div>
  {% endblock %}
{% block script %}
 <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script> 
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="static/js/home_script.js">
  </script>
{% endblock%}