{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-sm-8 col-sm-offset-2 text-center">
    {{msg | safe}} 
    {% if request.user.is_authenticated == False and file %}
    <h4 class='text-danger'>Do login to view contact details</h4>
    <br> <a href="{% url 'login' %}"><button class=
    "btn btn-lg btn-default">Login/Register</button></a><br>
    {% endif %} 
    {% if comms and request.user.is_authenticated == True %}
    <h3>Communities</h3>
    <div style="width:30em;margin-left:14em;">
      <table class="sortable table table-striped" style="table-layout: fixed; word-wrap: break-word;">
        <thead id="table_head">
          <tr>
            <th>Communities</th>
          </tr>
        </thead>
        <tbody id="table_body">         
          {% for i in comms %}
          <tr>
            <td><a href='{% url "comm" i.name %}' class="modal_link">{{i.name}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
     <br>{% endif %}


    {%if file %}
    <h3>Files</h3>
    <div style="overflow-y:scroll; max-height:400px;" style="margin-bottom:30px;">
      <table class="sortable table table-striped" style="table-layout: fixed; word-wrap: break-word;">
        <thead id="table_head">
          <tr>
            <th>File</th>
            <th>Type</th>
            <th>Size</th>
            {% if request.user.is_authenticated %}
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Room No</th>
             {% endif %}
          </tr>
        </thead>
        <tbody id="table_body">
           {% for i in file %}
          <tr>
            <td>{{i.file_name}}</td>
            <td>{{i.file_type}}</td>
            <td>{{i.size}}</td>
             {% if request.user.is_authenticated %}
            <td>{{i.user__user__first_name}}&nbsp;{{i.user__user__last_name}}</td>
            <td><a href='{% url "user" i.user__user__username %}' class="modal_link">{{i.user__user__email}}</a></td>
            <td>{{i.user__phone_no}}</td>
            <td>{{i.user__room_no}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <br>
    </div>{% endif %}
    {% if not file %}
    <h3> No file. Much fail. Not wow. </h3><br>  <center><img src = '{{doge}}' class="img-responsive"></center> 
   {% endif %}

   {% endblock %}