a,a:link:active{color:#222222;}
    a:hover{text-decoration: none;}
    a:link, a:visited , a:visited:active { 
    text-decoration:none;
    } 
    .btn{border-color: #fff;
      border-radius: 10px;}
    .form-control{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    #subtitle,#what{margin-top:0px;}
    #baton{
      border-radius: 0px 10px 10px 0px;
      margin-left:-0.5em;
      border-color: #cccccc;
    }
    a.modal_link{color:#008cba;}  
    .table th{text-align: center;}
    .nav ,.nav-pills{margin-bottom:-4em;}
    #search{ "width:20em;"}
/* Source: https://getbootstrap.com/examples/sticky-footer/sticky-footer.css */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background-color: #ffffff;
  margin-bottom: 60px;
}
  footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
}
table{margin-bottom: 100px;float:none;}

@media only screen and (max-width: 600px) {
    body {

    }
     #baton, ul,.nav ,.nav-pills{margin:auto;}
     #search{max-width:20em;}
     .pull-right{float:none !important;}
     #baton{display: none;}
     .search{margin-left:1em;margin-right:1em;}
 }