{% extends "base.html" %}
{% block search %}{% endblock %}
{% block content %}
    <div class="text-justify">
      <h2 class="text-center">About POR</h2>
      <hr>     
        Pirates of Rai is a media listing site. We list
            media files with contact details of their owners. Anyone can search
            for the media they want, contact the owner of the file and get it.
            Simultaneously, anyone can list their media files and share it with
            others.<br>
            <br>
            Just like the Yellow Pages but for files.<br>
            <br>
            This project also aims to reduce bandwidth hogging caused by
            redudant downloads. Sharing is faster and sexier. It conserves
            energy too! :)<br>
            <br>
            What all media can I list?
            <ol>
              <li>Movies</li>
              <li>TV shows</li>
              <li>Ebooks &amp; Readings</li>
              <li>Music</li>
              <li>Games</li>
              <li>Softwares</li>
              <li>Photos as zip archives</li>
            </ol>This site is best used on Google Chrome or Chromium - Desktop version.<br>
            <br>
            Why download when we can share?
          </div>
      
      </div>
    </div>
  {% endblock %}