{% extends "base.html" %}
{% block content %}
</div>
</div>
<div class="col-md-6 col-sm-offset-3 text-center">
<h2 style="margin-top:0em;">{{ comm.name }}</h2>
  <hr>
 </div>
  <!-- Div for updating profile -->
  {% if file %}
  <div class="col-md-4 col-sm-offset-1 text-center">
  {% else %}
  <div class="col-md-4 col-sm-offset-1 text-center" style=
  "border-right:solid 1px;border-color:#c0c0c0;margin-right:2em;padding-right:3em;">
    {% endif %}
    <h4 style="margin-bottom:1em;">Info</h4>
  
    
      <table class="table table-striped">
        <thead id="table_head">
          <tr><th></th><th></th></tr>
        </thead>
        <tbody id="table_body">
       <tr><td><h5>Description</h5></td><td><h5><em>{{comm.desc}}</em></h5></td></tr>
       <tr><td><h5>Type</h5></td><td><h5><em>{{comm.type}}</em></h5></td></tr>
       <tr><td><h5>Members</h5></td><td><h5><em>{{comm.members}}</em></h5></td></tr>
       </tbody>
       </table>
      
 </div><!-- Profile info div end -->
  <!-- Listed files div -->
  {% if file %}
  <div class="col-md-6 text-center" style=
  "border-left:solid 1px;border-color:#c0c0c0;margin-left:2em;padding-left:3em;">
  <div id="message_file"></div>
    <h4 class="text-center">Listed Files</h4>
    <div style="overflow-y:scroll; max-height:400px;">
        {%csrf_token%}
      <table class="table table-striped" style="table-layout: fixed;">
        <thead id="table_head">
          <tr><th>File</th><th>Type</th><th>Size</th></thead></tr>
        </thead>
        <tbody id="table_body">
           {% for i in file %}
          <tr>
           <input name="file_id" class="file_id" type="hidden" value="{{i.id}}">
            <td class="file_name">{{ i.file_name }}</td>
            <td>{{ i.file_type }}</td>
            <td>{{ i.size }}</td>
           </tr>
    {% endfor %}
        </tbody>
      </table>
      {% else %}
   <div class="col-md-6 text-center">
      
    {% endif %}   
    </div>
  </div><!-- Listed files div end -->
  {% endblock %}