{% extends "base.html" %}

{% load static %}

{% block search%}
{% endblock %}

{% block content%}
</div>

   <!-- Modal -->
    <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role=
    "dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-label="Close" class="close" data-dismiss="modal" type=
            "button"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Pirates of Rai</h4>
          </div>
          <div class="modal-body text-justify">
            Pirates of Rai is a media listing site. We list
            media files with contact details of their owners. Anyone can search
            for the media they want, contact the owner of the file and get it.
            Simultaneously, anyone can list their media files and share it with
            others.<br>
            <br>
            Just like Yellow Pages but for files.<br>
            <br>
            This project also aims to reduce bandwidth hogging caused by
            redudant downloads. Sharing is faster and sexier. It conserves
            energy too! :)<br>
            <br>
            What all media can I list?
            <ol>
              <li>Movies</li>
              <li>TV shows</li>
              <li>Ebooks &amp; Readings</li>
              <li>Music</li>
              <li>Games</li>
              <li>Softwares</li>
              <li>Photos as zip archives</li>
            </ol>This site is best used on Google Chrome or Chromium - Desktop version.<br>
            <br>
            Why download when we can share?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" style=
            "margin-left:auto;margin-right:auto;align:center;" type=
            "button">Close</button>
          </div>
        </div>
      </div>
    </div><!-- Modal End -->
<div class = "col-md-8 col-md-offset-2 text-center">
</div>

      <div class="col-md-4 col-md-offset-2" style="border-right:solid 1px;border-color:#c0c0c0;margin-right:2em;padding-right:0em;">
      <h3 class="text-center" style="margin-top:0em;">Register</h3> <br>
      <form method="post" action="register" class="form-horizontal">
      {%csrf_token%}
      <!-- To post username already exist -->
      {{usr | safe}}
<div class="form-inline">
    <label for="register" style="margin-right:4.5em;">Username <span style="color:red">*</span></label>
    <input type="text" class="form-control" id="user_reg" placeholder="Username" required name="user_reg">
    </div><br>

  <div class="form-inline">
    <label for="register" style="margin-right:3em;">Email address <span style="color:red">*</span></label>
    <input type="email" class="form-control" id="register" placeholder="Email" required name="email">
    </div><br>
    {{pwd | safe}}
<div class="form-inline">
    <label for="password" style="margin-right:5em;">Password <span style="color:red">*</span></label>
    <input type="password" class="form-control" id="password" placeholder="Password" required name="password">
  </div><br>
   <div class="form-inline">
    <label for="confirmPassword" style="margin-right:1em;">Confirm Password <span style="color:red">*</span></label>
    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required name="password2">
  </div><br>
   <div class="checkbox"><label>
         <input type="checkbox" id="tc" name="tc" required>I have read the <a data-toggle="modal" data-target="#policyModal" href="#" style="color:#337ab7;">Usage Policy</a>. <span style="color:red">*</span> </label>
   
  </div><br>
  <!-- T&C Modal -->
<div class="modal fade" id="policyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" class="text-center">Usage Policy</h4>
      </div>
      <div class="modal-body text-justify">
 <h3><b>TL;DR;</b></h3>We bear no responsibility for validity of the
      content hosted on this site, though we reserve to take actions those who
      aim to abuse it. Your privacy is our ultimate concern and are committed
      to protect it. We will not disclose any personal information made
      available by you on this site without your explicit permission. 
      Connecting to this site means you accept this policy agreement.
      <br>
      <h3>Abstract</h3>We, the creators of <a href=
      "https://piratesofrai.in">piratesofrai.in</a> which facilitates the
      offline sharing of various files by the means of listing it on our site ,
      disclaim as being in no way responsible for either the correctness or the
      truth of contents of the aforesaid website, notwithstanding that we have
      given our fullest attention to them. Neither are we in anyway responsible
      for any interpolation or unauthorized inclusion of any material into this
      website, though we, ourselves reserve our rights to proceed against
      persons responsible for such unauthorized acts, interpolations and
      against those who abuse this website.
      <br>
      <h3>Violations &amp; Abuse</h3>The site may not be used by anyone with
      the intention to track usage, log IP addresses/usage, commit fraud or
      anything else that we consider intrusion of privacy or disruption of our
      service. If you are not sure if this would be the case for your usage,
      please contact us in order to get our permission.
      <br>
      <h3>Your Privacy</h3>We respect your privacy and are committed to protect
      it. We have taken every possible step in our way to ensure your privacy
      by the means of use of technology and intelligent design. We don't sell,
      share, and show your personal information. We never collect any information
      about you exceptthose specifically provided by you on our site. We use cookies
      to keep you logged in.
      <br>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto;margin-right:auto;align:center;">Close</button>
      </div>
    </div>
  </div>
</div><!-- T&C Modal End -->
    <button type="submit" class="btn btn-lg btn-default">Sign Up</button>
    </div>
  </form>

  <div class="col-md-4" style="padding-right:3em;">{{msg | safe}}
  <h3 class="text-center" style="margin-top:0em;">Login</h3> <br>
   
    <form method="post" action="login">
      {%csrf_token%}
    <div class="form-inline">
    <label for="login_username" style="margin-right:0.6em;">Username</label>
    <input type="text" class="form-control" id="login_username" placeholder="User Name" required name="username">
    </div><br>
  <div class="form-inline">
    <label for="password" style="margin-right:1em;">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" required
    name="password">
  </div>
   {{pwd_x | safe}}<br>
    <button type="submit" class="btn btn-lg btn-default">Login</button> &nbsp;
   <a class="modal_link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
  </div>
    </form>
   {% endblock %}
