{% extends "base.html" %}
{% block search %}{% endblock %}
{% block content %}
    <div class="text-justify">
      <h2 class="text-center">POR - Usage Policy</h2>
      <hr>     
      <h3><b>TL;DR;</b></h3>We bear no responsibility for validity of the
      content hosted on this site, though we reserve to take actions those who
      aim to abuse it. Your privacy is our ultimate concern and are committed
      to protect it. We will not disclose any personal information made
      available by you on this site without your explicit permission. 
      Connecting to this site means you accept this policy agreement.
      <br>
      <h3>Abstract</h3>We, the creators of <a href=
      "https://piratesofrai.in">piratesofrai.in</a> which facilitates the
      offline sharing of various files by the means of listing it on our site ,
      disclaim as being in no way responsible for either the correctness or the
      truth of contents of the aforesaid website, notwithstanding that we have
      given our fullest attention to them. Neither are we in anyway responsible
      for any interpolation or unauthorized inclusion of any material into this
      website, though we, ourselves reserve our rights to proceed against
      persons responsible for such unauthorized acts, interpolations and
      against those who abuse this website.
      <br>
      <h3>Violations &amp; Abuse</h3>The site may not be used by anyone with
      the intention to track usage, log IP addresses/usage, commit fraud or
      anything else that we consider intrusion of privacy or disruption of our
      service. If you are not sure if this would be the case for your usage,
      please contact us in order to get our permission.
      <br>
      <h3>Your Privacy</h3>We respect your privacy and are committed to protect
      it. We have taken every possible step in our way to ensure your privacy
      by the means of use of technology and intelligent design. We don't sell,
      share, and show your personal information. We never collect any information
      about you exceptthose specifically provided by you on our site. We use cookies
      to keep you logged in.
      <br>
      
      </div>
    </div>
  {% endblock %}