{% extends "base.html" %}
{% load static %}
{% block style %}

.delete{cursor:pointer;}
 
.file_name:focus{
  outline: none;
  box-shadow: 0 0 5px #008cba;
  border: 1px solid #008cba;
  background-color:rgba(251,247,3,0.4);
  color:#000000;
}

  #divider{border-right:solid 1px;border-color:#c0c0c0;margin-right:2em;padding-left:3em;}
  #divider2{border-left:solid 1px;border-color:#c0c0c0;margin-left:2em;padding-left:3em;}
  @media only screen and (max-width: 600px) {
      #divider, #divider2{margin:auto;
      padding:0em;
      border-right: none 0px;}
      .form-control{margin-bottom:1em;}
      }

{% endblock %}

{% block content %}
 <!-- Create new community Modal -->
<div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role=
    "dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-label="Close" class="close" data-dismiss="modal" type=
            "button"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title text-center" id="myModalLabel">Create a new community</h3>
          </div>
          <div class="modal-body text-center">
  <!-- Create new community form start -->
  <form method="post" action="{% url 'comm_add' %}">
  <div class="form-inline" >
  {%csrf_token%}
  
    <label for="comm_name" style="margin-right:5em;"><h4>Community<span style="color:red">*</span></h4></label>
    <input type="text" class="form-control" id="comm_name" placeholder="Community" required name="comm_name">
  </div><br>
  <div class="form-inline" >
    <label for="comm_desc" style="margin-right:5em;"><h4>Description<span style="color:red">*</span></h4></label>
    <textarea class="form-control" rows="3" id="comm_desc" placeholder="What does your community stand for?" required name="comm_desc"></textarea>
  </div><br>
 
  <label for="private" style="margin-right:8em;margin-left: -8em;"><h4>Private<span style="color:red">*</span></h4></label>
  <input type="radio" name="comm_private" value="True" checked  id="comm_true"> True &nbsp; &nbsp;
  <input type="radio" name="comm_private" value="False" id="comm_false" > False<br><br>
  <div class="form-inline comm_pass">
  <label for="comm_code" style="margin-right:6em;"><h4>Password<span style="color:red">*</span></h4></label>
  <input type="text" class="form-control" id="comm_code" placeholder="Password" name="comm_code">
  </div><br>
  <div class="form-inline">
  <label for="comm_url" style="margin-right:9.8em;"><h4>URL<span style="color:red">*</span></h4></label>
  <input type="text" class="form-control" id="comm_url" placeholder="URL" required name="comm_url">
  <small style="margin-left:13.2em;">https://www.piratesofrai.in/comm/&lt;url&gt;</small>
  </div><br>

  <button class="btn btn-default" type="submit">Create Community</button><br><br>
  <small>Private communities cannot be searched and require a password to join</small><br>
  </form>
    </div>
          <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" style=
            "margin-left:auto;margin-right:auto;align:center;" type=
            "button">Close</button>
          </div>
        </div>
      </div>
    </div><!-- Modal End -->

 <div class="col-md-6 col-sm-offset-3 text-center">
   {% if file %}
  <h3 style="margin-top:0em;">Command center</h3>
  
  <h4>Total Files: <em id="file_count">{{ file.count }}</em></h4>
  <a href="{% url 'file_delete_all' %}"><button class="btn btn-default">Delete All Files</button></a>
  {% else %}

  <h3 style="margin-top:0em;margin-bottom:-1em;">Command center</h3>
  {% endif %} 
  
  {% if request.user.is_superuser == True %}
  <br>
  <!--<small>Only Captains can see this </small>
  <h4>Communities are the place to find new friends &amp; share your files.</h4>
   <a data-target=
    "#myModal" data-toggle="modal" href="#"><button class="btn btn-default">Create new community</button></a> <br>
{% endif %}-->

  {% if comm %}
  <div style="overflow-y:scroll; max-height:400px;">
        {%csrf_token%}
      <table class="table table-striped" style="table-layout: fixed;" id="friend_table">
        <thead id="friend_head">
        </thead>
        <tbody id="friend_body">
           {% for i in comm %}
          <tr>
           <input name="file_id" class="file_id" type="hidden" value="{{i.id}}">
            <td contenteditable='true' class="file_name" spellcheck="false">{{ i.file_name }}</td>
            <td>{{ i.file_type }}</td>
            <td>{{ i.size }}</td>
            <td><span class="glyphicon glyphicon-trash row-remove delete text-danger" aria-hidden="true"></span></td>
          </tr>
  {% endfor %}
        </tbody>
      </table>
    </div>
     {% endif %}


   {% if friend_requests %}
  <div style="overflow-y:scroll; max-height:400px;" id="friend_div">
        {%csrf_token%}
      <table class="table table-striped" style="table-layout: fixed;" >
        <thead id="friend_head">
          <tr><td>Friend Request From</td><td>Accept?</td>
        </thead>
        <tbody id="friend_body">
           {% for i in friend_requests %}
          <tr>
           <input name="req_from" class="req_from" type="hidden" value="{{i.req_from__user__username}}">
            <td><a href='{% url "user" i.req_from__user__username %}' class="modal_link">{{ i.req_from__user__username }}</a></td>
            <td><span class="glyphicon glyphicon-ok friend_accept text-success" aria-hidden="true"></span></td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
     {% endif %}

  <hr>
 
  <div id="message" style="height:7em; display:none;margin-bottom:1.3em;border-bottom:solid 1px;border-color:#c0c0c0;"></div>
 </div>
  <!-- Div for updating profile -->
   
  <div class="col-md-4 col-sm-offset-1 text-center"{% if file %} id="divider" {% endif %}>
    
    <h4>{{msg | safe}}</h4> 
    <h4 style="margin-bottom:1em;">Your info</h4>
    <h4 class="text-center">{{request.user}}</h4><em><small>These details help
    you share your files faster.</small></em><br>
    <br>
      <div class="form-inline">
        <label for="email"><h5 style="margin-right:3.1em;">Email</h5></label>
        <input class=
        "form-control" id="email" name="email" placeholder="Email" required=""
        type="text" value="{{user.email}}">
      </div>
      <div class="form-inline">
        <label for="first_name">
        <h5 style="margin-right:0.4em;">First Name
        &nbsp;</h5></label><input class="form-control" id="first_name" name=
        "first_name" placeholder="First Name" required="" type="text" value=
        "{{user.first_name}}">
      </div>
      <div class="form-inline">
        <label for="last_name">
        <h5 style="margin-right:0.5em;">Last Name
        &nbsp;</h5></label><input class="form-control" id="last_name" name=
        "last_name" placeholder="Last Name" required="" type="text" value=
        "{{user.last_name}}">
      </div>
      <div class="form-inline">
        <label for="phone_no">
        <h5>Ph Number &nbsp;</h5></label><input class=
        "form-control" id="phone_no" name="phone_no" placeholder="Phone Number"
        type="text" value="{{profile.phone_no}}">
      </div>
      <div class="form-inline">
        <label for="room_no">
        <h5 style="margin-right:1.0em;">Room no
        &nbsp;</h5></label><input class="form-control" id="room_no" name=
        "room_no" placeholder="Eg. WR 109" required="" type="text" value=
        "{{profile.room_no}}">
      </div><br>
      <button class="btn btn-lg btn-default" id="profileUpdate">Update</button>

  </div><!-- Profile update div end -->
  <!-- Listed files div -->
   {% if file %}
  <div class="col-md-6 text-center"{% if not file %} id="divider2" {% endif %}>
  
    <h4 class="text-center">Your files</h4>
    <small><em>Click on file name to edit</em></small>
   
    <div style="overflow-y:scroll; max-height:400px;">
        {%csrf_token%}
      <table class="table table-striped" style="table-layout: fixed;">
        <thead id="table_head">
          <tr><th>File</th><th>Type</th><th>Size</th><th>Remove?</th></thead>
        </thead>
        <tbody id="table_body">
           {% for i in file %}
          <tr>
           <input name="file_id" class="file_id" type="hidden" value="{{i.id}}">
            <td contenteditable='true' class="file_name" spellcheck="false">{{ i.file_name }}</td>
            <td>{{ i.file_type }}</td>
            <td>{{ i.size }}</td>
            <td><span class="glyphicon glyphicon-trash row_remove text-danger" aria-hidden="true"></span></td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
     <div class="col-md-6 text-center">
      <h2 class='text-warning' style='margin-top:4em;'>No files listed :(</h2><br>
       <a href="{% url 'home' %}"><button class="btn btn-default">List some files</button></a>
    {% endif %}
  </div><!-- Listed files div end -->

 
 {% endblock %}
 {% block script %}
  <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script> 
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script>
 function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');
$(document).ready(function() {
  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
//Adding the Django CSRF token to the AJAX request header  
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
});
//$('.file_name').on("focus",function(){
  //$(this).parents('tr').find('.file_name').css({'background-color':'#efefef','box-shadow': '0 0 5px rgba(81, 203, 238, 1)'});
//});
$('.file_name').on("blur",function(){
var file_name = $(this).parents('tr').find('.file_name').text();
var file_id = $(this).parents('tr').find('.file_id').val();
var data = JSON.parse('{"file_id":'+ String(file_id) + ',"file_name":"'+ String(file_name) +'"}');
$.ajax({
    type: "POST",
    url: "{% url 'file_update' %}",
    data: data,
    success: function success() {
      $("#message").show();
      $("#message").html(
        "<h4 class='text-success' style='margin-top:0em;padding-top:0.4em;'>You have successfully updated </h4><h4><b>"+ file_name + "</b></h4>"
      );

      // $("#message_file").fadeOut(5000);
    }
    });//AJAX End
});//File_name update end
 
$('.row_remove').click(function () {
 
   var file_name = $(this).parents('tr').find('.file_name').text();
   var file_id = $(this).parents('tr').find('.file_id').val();
   var data = JSON.parse('{"file_id":'+ String(file_id) + '}');
    $.ajax({
    type: "POST",
    url: "{% url 'file_delete' %}",
    data: data,
    success: function success(data) {
      $("#message").show();
      $("#message").html(
        "<h4 class='text-success' style='margin-top:0em;padding-top:0.4em;'>You have successfully deleted </h4><h4><b>"+ file_name + "</b></h4>"
      );
      $("#file_count").text(data);
    //  $("#message").fadeOut(5000);
    }
  });//AJAX End
 
  $(this).parents('tr').fadeOut(1000, function(){
    $(this).parents('tr').remove();
  });
});//End of remove row

//Start of profile update
$("#profileUpdate").click(function(){
  var first_name = $("#first_name").val();
  var last_name = $("#last_name").val();
  var email = $("#email").val();
  var room_no = $("#room_no").val();
  var phone_no = $("#phone_no").val();
  var data = JSON.parse('{"first_name":"'+ String(first_name) + '","last_name":"'+ String(last_name) +'","email":"'+ String(email) +'","room_no":"'+ String(room_no) +'","phone_no":"'+ String(phone_no) +'"}');
  $.ajax({
    type: "POST",
    url: "{% url 'profile_update' %}",
    data: data,
    success: function success() {
      $("#message").show();
      $("#message").html(
        "<h3 class='text-success' style='padding-top:1em;margin-bottom:0em;'>You have successfully updated your profile.</h4>"
      );
    //  $("#message").fadeOut(5000);
    }
  });//AJAX End
});//End of profile update

$('.friend_accept').click(function () {
 
var req_from = $(this).parents('tr').find('.req_from').val();
var data = JSON.parse('{"req_from":"'+ String(req_from) + '"}');
    $.ajax({
    type: "POST",
    url: "{% url 'friend_accept' %}",
    data: data,
    success: function success(data) {

      $("#message").show();
      $("#message").html(
        "<h4 class='text-success' style='margin-top:0em;padding-top:0.4em;'>You are now friends with </h4><h4><b>"+ req_from + "</b></h4>"
      );
     // $("#file_count").text(data);
    //  $("#message").fadeOut(5000);
    }
  });//AJAX End
 
  //$(this).parents('tr').fadeOut(1000, function(){
    $(this).parents('tr').remove();
 // });

  if (!$('#friend_body').html().trim()){
   $('#friend_div').remove();
  }
});//End of friend requests

$('#comm_true').click(function () {
  $('.comm_pass').show();
  $('#comm_code').val('');
});

$('#comm_false').click(function () {
  $('.comm_pass').hide();
});
 </script>
 {% endblock %}
