{% extends "base.html" %}

{% block style %}

.delete{
  cursor:pointer;

}
 
.file_name:focus{
  outline: none;
  box-shadow: 0 0 5px #008cba;
  border: 1px solid #008cba;
  background-color:rgba(251,247,3,0.4);
  color:#000000;
}

{% endblock %}
{% block content %}
 <div class="col-md-6 col-sm-offset-3 text-center">
  <h4 style="margin-top:0em;">Your stats</h4>
  <h4>Total Files: <em id="file_count">{{ file.count }}</em></h4>
  <hr>
  <div id="message" style="height:7em; display:none;margin-bottom:1.3em;border-bottom:solid 1px;border-color:#c0c0c0;"></div>
 </div>
  <!-- Div for updating profile -->
  <div class="col-md-4 col-sm-offset-1 text-center">
    
    <h4>{{msg | safe}}</h4> 
    <h4 style="margin-bottom:1em;">Your info</h4>
    <h4 class="text-center">{{request.user}}</h4><em><small>These details help
    you share your files faster.</small></em><br>
    <br>
      <div class="form-inline">
        <label for="email"><h5 style="margin-right:3.1em;">Email</h5></label>
        <input class=
        "form-control" id="email" name="email" placeholder="Email" required=""
        type="text" value="{{user.email}}">
      </div>
      <div class="form-inline">
        <label for="first_name">
        <h5 style="margin-right:0.4em;">First Name
        &nbsp;</h5></label><input class="form-control" id="first_name" name=
        "first_name" placeholder="First Name" required="" type="text" value=
        "{{user.first_name}}">
      </div>
      <div class="form-inline">
        <label for="last_name">
        <h5 style="margin-right:0.5em;">Last Name
        &nbsp;</h5></label><input class="form-control" id="last_name" name=
        "last_name" placeholder="Last Name" required="" type="text" value=
        "{{user.last_name}}">
      </div>
      <div class="form-inline">
        <label for="phone_no">
        <h5>Ph Number &nbsp;</h5></label><input class=
        "form-control" id="phone_no" name="phone_no" placeholder="Phone Number"
        type="text" value="{{profile.phone_no}}">
      </div>
      <div class="form-inline">
        <label for="room_no">
        <h5 style="margin-right:0.9em;">Room No
        &nbsp;</h5></label><input class="form-control" id="room_no" name=
        "room_no" placeholder="Room Number" required="" type="text" value=
        "{{profile.room_no}}">
      </div><br>
      <button class="btn btn-lg btn-default" id="profileUpdate">Update</button>

  </div><!-- Profile update div end -->
  <!-- Listed files div -->
  <div class="col-md-6 text-center" style=
  "border-left:solid 1px;border-color:#c0c0c0;margin-left:2em;padding-left:3em;">
  
    <h4 class="text-center">Your files</h4>
    <small><em>Click on file name to edit</em></small>
    <div style="overflow-y:scroll; max-height:400px;">
        {%csrf_token%}
      <table class="table table-striped" style="table-layout: fixed;">
        <thead id="table_head">
          {{ table | safe}}
        </thead>
        <tbody id="table_body">
           {% for i in file %}
          <tr>
           <input name="file_id" class="file_id" type="hidden" value="{{i.id}}">
            <td contenteditable='true' class="file_name" spellcheck="false">{{ i.file_name }}</td>
            <td>{{ i.file_type }}</td>
            <td>{{ i.size }}</td>
            <td><span class="glyphicon glyphicon-trash row-remove delete" aria-hidden="true"></span></td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
  </div><!-- Listed files div end -->
 {% endblock %}
 {% block script %}
 <script>
 function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');
$(document).ready(function() {
  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
//Adding the Django CSRF token to the AJAX request header  
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
});
//$('.file_name').on("focus",function(){
  //$(this).parents('tr').find('.file_name').css({'background-color':'#efefef','box-shadow': '0 0 5px rgba(81, 203, 238, 1)'});
//});
$('.file_name').on("blur",function(){
var file_name = $(this).parents('tr').find('.file_name').text();
var file_id = $(this).parents('tr').find('.file_id').val();
var data = JSON.parse('{"file_id":'+ String(file_id) + ',"file_name":"'+ String(file_name) +'"}');
$.ajax({
    type: "POST",
    url: "{% url 'file_update' %}",
    data: data,
    success: function success() {
      $("#message").show();
      $("#message").html(
        "<h4 class='text-success' style='margin-top:0em;padding-top:0.4em;'>You have successfully updated </h4><h4><b>"+ file_name + "</b></h4>"
      );

      // $("#message_file").fadeOut(5000);
    }
    });//AJAX End
});//File_name update end
 
$('.row-remove').click(function () {
 
   var file_name = $(this).parents('tr').find('.file_name').text();
   var file_id = $(this).parents('tr').find('.file_id').val();
   var data = JSON.parse('{"file_id":'+ String(file_id) + '}');
    $.ajax({
    type: "POST",
    url: "{% url 'file_delete' %}",
    data: data,
    success: function success(data) {
      $("#message").show();
      $("#message").html(
        "<h4 class='text-success' style='margin-top:0em;padding-top:0.4em;'>You have successfully deleted </h4><h4><b>"+ file_name + "</b></h4>"
      );
      $("#file_count").text(data);
    //  $("#message").fadeOut(5000);
    }
  });//AJAX End
 
  $(this).parents('tr').fadeOut(1000, function(){
    $(this).parents('tr').remove();
  });
});//End of remove row

//Start of profile update
$("#profileUpdate").click(function(){
  var first_name = $("#first_name").val();
  var last_name = $("#last_name").val();
  var email = $("#email").val();
  var room_no = $("#room_no").val();
  var phone_no = $("#phone_no").val();
  var data = JSON.parse('{"first_name":"'+ String(first_name) + '","last_name":"'+ String(last_name) +'","email":"'+ String(email) +'","room_no":"'+ String(room_no) +'","phone_no":"'+ String(phone_no) +'"}');
  $.ajax({
    type: "POST",
    url: "{% url 'profile_update' %}",
    data: data,
    success: function success() {
      $("#message").show();
      $("#message").html(
        "<h3 class='text-success' style='padding-top:1em;margin-bottom:0em;'>You have successfully updated your profile.</h4>"
      );
    //  $("#message").fadeOut(5000);
    }
  });//AJAX End

});//End of profile update

 </script>
 {% endblock %}