{% extends "base.html" %}
{% block style %}
h3{
  margin-top:1em;
}
{% endblock %}
{% block search %}{% endblock %}

{% block content %}
</div>
<div class="col-sm-6 col-sm-offset-3">
<h3> 23<sup>rd</sup> August 2016 </h3>
<ul><li>POR is back after the hiatus</li>
<li>Due to a rollback few extra featues have been withheld</li>
</ul>
<hr>

<h3> 1<sup>st</sup> May 2016 </h3>
<ul><li>POR goes down for a hiatus</li>
</ul>
<hr>

<h3> 25<sup>th</sup> March 2016 </h3>
<ul><li>Added doge pics to failed searches</li>
<li>Improved search</li>
<li>Finished mobile support</li>
</ul>
<hr>

<h3> 23<sup>rd</sup> March 2016 </h3>
<ul>
<li>UI tweaks</li>
<li>Added "Delete all files" button to profile page</li>
<li>Added fuzzy match to search - "Forest bump" will now show correct results</li>
<li>Added about page</li>
<li>Added member &amp; community to search </li>
<li>Performance upgrades - +_+</li>
</ul>
<hr>

 <h3> 18<sup>th</sup> Feb 2016 </h3>
<ul><li>Added Google &amp; Facebook OAuth</li>
<li>Can now edit file names, delete individual files</li>
</ul>
<hr>

  <h3> 23<sup>rd</sup> Jan 2016 </h3>
<ul><li>Fixed search randomization bugs </li>
<li>Added a help line to non-logged in homepage</li>
</ul>
<hr>
<h3> 19<sup>th</sup> Jan 2016 </h3>
<ul><li>Many cool features - hidden for now ;)</li>
<li>Fixed the ***king bug to support epub &amp; mobi - Thanks Parth for notifying</li>
<li>Added support for cbr, tar, gz, deb file extensions</li>
</ul>
<hr>

<h3> 16<sup>th</sup> Jan 2016 </h3>
<ul><li>Changed empty search to show random listings</li>
<li>Added updates section at the footer</li>
<li>Added search bar to Profile page</li>
</ul>
<br><br>
</div>
{% endblock %}
