{% extends "base.html" %}
{% load static %}
{% block style %}
#divider{border-right:solid 1px;border-color:#c0c0c0;margin-right:2em;padding-left:3em;}
#divider2{border-left:solid 1px;border-color:#c0c0c0;margin-left:2em;padding-left:3em;}
  @media only screen and (max-width: 600px) {
      #divider, #divider2{margin:auto;
      padding:0em;
      border-right: none 0px;}
      .form-control{margin-bottom:1em;}
      }

{% endblock %}
{% block content %}
</div>
</div>
<div class="col-md-6 col-sm-offset-3 text-center">
<h2 style="margin-top:0em;">{{ user.user.username }}</h2>
  <hr>
  <div id="message" style="height:7em; display:none;margin-bottom:1.3em;border-bottom:solid 1px;border-color:#c0c0c0;"></div>
 </div>
 
  <!-- Div for updating profile -->
  
  <div class="col-md-4 col-sm-offset-1 text-center" {% if file %} id="divider" {% endif %}>
  {% if request_sent == True %}
  <h4>Friend Request sent</h4>
  <br>
  {% elif friends == False %}
    {% csrf_token %}
  <!--<input name="req_to" class="req_to" type="hidden" value="{{ user.user.username }}">
  <button id="friend_add" class="btn btn-lg btn-default">Add Friend</button>-->
  <br><br>
    {% endif %}
    <h4 style="margin-bottom:1em;">Info</h4>
      <table class="table table-striped">
        <thead id="table_head">
          <tr><th></th><th></th></tr>
        </thead>
        <tbody id="table_body">
       <tr><td><h5>Name</h5></td><td><h5><em>{{user.first_name}} {{user.last_name}}</em></h5></td></tr>
       <tr><td><h5>Email</h5></td><td><h5><em>{{user.email}}</em></h5></td></tr>
       <tr><td><h5>Phone No.</h5></td><td><h5><em>{{profile.phone_no}}</em></h5></td></tr>
       <tr><td><h5>Room No.</h5></td><td><h5><em>{{profile.room_no}}</em></h5></td></tr>
       <tr><td><h5>Files</h5></td><td><h5><em>{{file.count}}</em></h5></td></tr>
       </tbody>
       </table>
      
 </div><!-- Profile info div end -->
  <!-- Listed files div -->
  {% if file %}
  <div class="col-md-6 text-center" {% if not file %} id="divider2" {% endif %}>
  <div id="message_file"></div>
    <h4 class="text-center">Listed Files</h4>
    <div style="overflow-y:scroll; max-height:400px;">
        {%csrf_token%}
      <table class="table table-striped" style="table-layout: fixed;">
        <thead id="table_head">
          <tr><th>File</th><th>Type</th><th>Size</th></thead></tr>
        </thead>
        <tbody id="table_body">
           {% for i in file %}
          <tr>
           <input name="file_id" class="file_id" type="hidden" value="{{i.id}}">
            <td class="file_name">{{ i.file_name }}</td>
            <td>{{ i.file_type }}</td>
            <td>{{ i.size }}</td>
           </tr>
    {% endfor %}
        </tbody>
      </table>
      {% else %}
   <div class="col-md-6 text-center">
      <h2 class='text-warning' style='margin-top:4em;'>No files listed :(</h2><br>
    {% endif %}   
    </div>
  </div><!-- Listed files div end -->
  {% endblock %}
   {% block script %}
  <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script> 
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script>
 function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');
$(document).ready(function() {
  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
//Adding the Django CSRF token to the AJAX request header  
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
});

$('#friend_add').on("click",function(){
  var req_to = $('.req_to').val();
  var data = JSON.parse('{"req_to":"'+ String(req_to) +'"}')
$.ajax({
    type: "POST",
    url: "{% url 'friend_add' %}",
    data: data,
    success: function success() {
      $("#message").show();
      $("#message").html(
        "<h4 class='text-success' style='margin-top:0em;padding-top:0.4em;'>Friend request has been sent to </h4><h4><b>"+ req_to + "</b></h4>"
      );
     
      }
  });//AJAX End
 $(this).remove();
 });
</script>
{% endblock %}