<!Doctype HTML>
<html lang="en">
  <head>
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <title>POR - 404</title>
    <link rel="icon" type="image/gif" href="static/img/skull.gif"/>  
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="static/js/sorttable.js"> </script>
    <style>
    a{color:#222222;}
    a:hover{text-decoration: none;}
    .btn{border-color: #fff;
      border-radius: 10px;}
    th{text-align: center;}
    td{word-wrap: break-word;}
    .form-control{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    #baton{
      border-radius: 0px 10px 10px 0px;
      margin-left:-0.5em;
      border-color: #cccccc;
    }
    table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
    </style>
  </head>
  <body> 
<div class="col-md-8 col-sm-offset-2 text-center">
      <a href="/"><h1>Pirates of Rai</h1></a>
     <a data-toggle="modal" data-target="#myModal" href="#">
     <div >
      <h4 id="subtitle"><em>Yellow Pages for file sharing </em> </h4> 
      <small id="what">(What's this?)</small>
      </div>
      </a>
      <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pirates of Rai</h4>
      </div>
      <div class="modal-body text-justify">
      Pirates of Rai is a media listing site made for Ashoka. We list media files with contact details of their owners. Anyone can search for the media they want, contact the owner of the file and get it. Simultaneously, anyone can list their media files and share it with others. <br><br>
        Just like Yellow Pages but for files. <br><br>
        This project also aims to reduce bandwidth hogging caused by redudant downloads. Sharing is faster and sexier. It conserves energy too! :)
        <br><br>
        What all media can I list?
        <ol><li>Movies</li><li>TV shows</li><li>Ebooks &amp; Readings</li><li>Music</li><li>Games</li><li>Softwares</li><li>Photos as zip archives</li></ol>

        This site is best used on Google Chrome - Desktop version.<br><br>
        Why download when you can share?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:auto;margin-right:auto;align:center;">Close</button>
      </div>
    </div>
  </div>
</div><!-- Modal End --> 
      <hr>
      <row> 
     <div class="space"></div>
      <div class="form-group form-inline"> 
      <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
      <form action="search" method="post">
      {% csrf_token%}
      <input type="text" class="form-control" name="search" id="search" placeholder="Find any movie, ebook, game, software or song" style="width:20em;"> 
       </div> 
       <button class="btn btn-default" id="baton">Search</button>
      </div>
     
      </form>
      </row>
            <em><small>Search empty to browse through everything</small></em>
    <hr>
    <h1 class='text-danger'>Looks like you don't have the cred to be here yet. :P</h1>
    <h3>Error 403 Access Denied</h3>
    <hr>
     <footer  style="margin-top:2em;margin-bottom:2em;">Pirates of Rai &copy; 2015</footer> 
    </div>
  <script src="static/js/jquery.min.js"> </script>
  <script src="static/js/bootstrap.min.js"> </script>
  </body>
  </html>