<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="{% static 'img/skull.gif' %}" rel="icon" type="image/gif">
  <title>Pirates of Rai</title> 
  <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
 
  {% block head %}
  {% endblock%}
  <style>
  {% block style %}
  {% endblock%}
  </style>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
 <!-- navbar -->
 {% if request.user.is_authenticated %}
  <div class="pull-right">
  <nav class="nav-collapse">

    <ul class="nav nav-pills">
      <li role="presentation"><a href="{% url 'profile' %}">{{request.user}}</a></li>
      <li style="list-style: none">{% if request.user.is_superuser %}</li>
      <li role="presentation"><a href="{% url 'captain' %}">Captain</a></li>
      {% endif %}
      <li role="presentation"><a href="{% url 'home' %}">Home</a></li>
      <li role="presentation"><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    </nav>
  </div>
  {% endif %}
  <!-- navbar end -->
  
  {% block header %}
  <div class="col-sm-6 col-sm-offset-3 text-center">
    
    <h1><a href="{% url 'home' %}">Pirates of Rai</a></h1>
    
    <small>File listings for offline sharing</small>
    <!-- Button trigger modal -->

    
    <hr>
    {% endblock %}
    <!-- Header end-->
    <!-- Search bar -->
    {% block search %}
    <div class="form-group form-inline search">
      <div class="input-group">
        <div class="input-group-addon">
          <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
        </div>
        <form action="{% url 'search' %}" method="post" name="q">
          {% csrf_token%} <input class="form-control" id="search" name="search"
          placeholder="Find any movie, ebook, game, software or song"
          type="text">
        
      </div><button class="btn btn-default" id="baton">Search</button><br><br>
      <div class="checkbox">
            <label title="All" accesskey="a"><input id="all" onclick="setAll();" name="tag" type="checkbox" value="all" checked>All</label>&nbsp;
            <label title="Audio" accesskey="q"><input name="tag" id="audio" onclick="rmAll();" type="checkbox" value="Audio">Audio</label>&nbsp;
            <label title="Video" accesskey="w"><input name="tag" id="video" onclick="rmAll();" type="checkbox" value="Videos">Video</label>&nbsp;
            <label title="Softwares" accesskey="e"><input name="tag" id="software" onclick="rmAll();" type="checkbox" value="Software">Software</label>&nbsp;
            <label title="Ebooks" accesskey="r"><input name="tag" id="ebooks" onclick="rmAll();" type="checkbox" value="Ebooks">Ebooks</label>&nbsp;
      </div>
      </form><br>
      <em><small>Search empty to browse through random listings</small></em>
    </div>
    <hr>
  </div>

    {% endblock %}
    <!-- Search bar end -->
   {% block content %}
   {% endblock %}
   </div>
<div id="footer">
   <div class="col-sm-4 col-sm-offset-4 text-center" >
   <hr style="margin-top:1em; margin-bottom: 0.7em;">
    <small><a href="{% url 'about' %}">About</a> | <a href="{% url 'policy' %}">Usage Policy</a> <hr style="margin-top:1em; margin-bottom: 0.7em;"> Use <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm"> uBlock Origin</a>, <a href="https://www.eff.org/https-everywhere">HTTPS Everywhere</a>, <a href="https://duckduckgo.com">DuckDuckGo</a> &amp; <a href="https://www.torproject.org">Tor</a> to better protect your privacy.</small><br>
  </div>
  </div>
  <!--<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script> 
  <script src="{% static 'js/bootstrap.min.js' %}"></script>-->
  <script>
  if (top != self) top.location.href = location.href;
	function setAll(){
		t = document.forms.q.elements;
		t.audio.checked=false;
		t.video.checked=false;
		t.apps.checked=false;
		t.games.checked=false;
		t.other.checked=false;
	}
	function rmAll(){ document.forms.q.elements.all.checked=false; }

  </script>
  {% block script %}
  {% endblock%}
 
</body>
</html>